header {
    background: rgb(209, 209, 230);
   grid-area: header;
   padding: 0.5rem;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   display: flex; /* Använd flexbox för att kunna centrera innehållet */
   flex-direction: column; /*Arrangerar innehåll i kolumn, så att h1 ligger överst */
   position: fixed; 
   top: 0; 
   left: 0; 
   width: 100%; 
   z-index: 1000; /* Gör att headern alltid visas över annat innehåll */
}

body {
    display: grid;
    padding-top: 160px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    background: #8095b4cc;
}

h1 {
    margin: 1rem;
    color: #333;
    text-align: center;
}
.logo img{
    width: clamp(70px, 15vw, 130px); /*jag använder clamp så att bilden är responsiv */
    border-radius: 99px;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.nav-links{
    list-style: none;
    margin: 3px;   
}

.nav-links a{
    text-decoration:underline;
    color: #333;
    font-weight: bold;
}
main {
    margin: 5px;
    padding: 5px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Ser till så att sections fördelar jämnt över sidan*/
}
h2 {
    text-align: center;
    width: 100%; /*Ser till så att h2 tar all yta i sin kolumn och inte påverkar resten av flexbox */
    margin-top: 2rem; 
    margin-bottom: 1rem;
}
section {
    padding: 0;
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 25px;
    border: 2px solid rgb(57, 57, 74);

}
h3 {
    text-align: center;
    width: 100%; 
    margin-top: 0; 

}
article {
    max-width: 30rem;
    margin: 1rem;
}
footer {
    padding: 1rem;
    background-color: #32343d;
    text-align: center;
    color: aliceblue;
    grid-area: footer;
}

.social-media-icons a {
    margin: 0 1rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.social-media-icons a:hover {
    color: #007bff; /* Ändra färg vid hover */
}

@media (min-width: 768px) and (max-width: 1023px) {
    .nav-links{
        list-style: none;
        display: flex; /* Gör länkarna till en rad (row) */
        flex-direction: row; /* Säkerställer att det blir en horisontell rad */
        margin: 0;
        padding: 0;
        
    }
    .nav-links a{
        margin: 3rem;
    }

}

@media (min-width: 1024px) {
    .nav-links{
        list-style: none;
        display: flex; /* Gör länkarna till en rad (row) */
        flex-direction: row; /* Säkerställer att det blir en horisontell rad */
        margin: 0;
        padding: 0;
    }
    .nav-links a{
        margin: 6rem;
    }
}